

body {
    margin: auto;
    background-color: #EDE0D3;
    
}

h2 {
    margin-top: 0;
    padding: 10px;
    font-size: 70px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: auto;
    margin-left: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EDE0D3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

li {
    float: left;
}

li a {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    display: block;
    color: #473D33;
    text-align: center;
    padding: 20px 30px;
    text-decoration: underline 0.15em;
    text-underline-offset: 0.3em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

li a:hover {
    text-decoration: underline;
    text-underline-offset: 1.0em;
}

span a {
    text-decoration: none;
}

.resume {
    font-family: "roc-grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    display: block;
    color: #EDE0D3;
    text-align: center;
    padding: 20px 30px;
    text-decoration: underline 0.15em;
    text-underline-offset: 0.3em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

.resume:hover {
    text-decoration: underline;
    text-underline-offset: 1.0em;
}

div a:visited {
    color: #EDE0D3;
}

.portrait {
    width: 80%;
    border-radius: 50%;
    padding: 2%;
}

.landing {
    top: 0px;
    left: 0px;
    margin: .3%;
    padding: 7%;
    z-index: -1;
}

.hidden {
    opacity: 0;
}

.fixed {
    position: fixed;
}

.myname {
    color: #473D33;
    font-size: 200px;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 800;
    font-style: bold;
    padding: 0;
    line-height: 0px;
    letter-spacing: 10px;
}

.last {
    padding-left: 10%;
    line-height: -5px;
}

.software {
    color: #473D33;
    font-size: 30px;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-left: 40%;
    padding: 3%;
    width: 100%;
    
}

.info {
    background-image: linear-gradient(to left bottom, #473d33, #4d4739, #525141, 
    #555b4a, #576655, #5c6b5a, #60705e, #657563, #6e7561, #767562, #7d7563, #837567);
    margin: 0px;
    padding: 0px;
    top: 90px;
    width: 100%;
}

.container {
    padding: 2%;
    text-align: center;
    color: #EDE0D3;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: auto;
}

.cards {
    display: grid;   
    grid-auto-rows: 1fr; 
    grid-gap: 20px;  
    padding-left: 10%;
    padding-right: 12.5%;
}

.projectscontainer {
    grid-template-columns:  25% 25% 25% 25%;
}

.experiencecontainer {
    grid-template-columns:  50% 50%;
}

.card {
    background: linear-gradient(130deg, #7d7563, #EDE0D3);
    position: relative;
    cursor: pointer;
    box-shadow:  4px 4px 10px #473d33;
    border-radius: 10px;
    cursor: default;
}

.card:before {
    background: linear-gradient(130deg, transparent 0% 33%, #473d33, #6e7561);
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background-position: 0% 0%;
    background-size: 300% 300%;
    transition: background-position 350ms ease;
    border-radius: 6px;
}

.card:hover:before {
    background-position: 100% 100%;
    color: #473d33;
}

.card:hover .card-text {
    color: #EDE0D3;
    font-style: normal;
}

.card:hover .card-img {
    filter: grayscale(0%);
}

.card-text {
    position: relative;
    color: #473d33;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
}

.card-img {
    position: relative;
    width: 80%;
    filter: grayscale(100%);
    padding: 2%;
    border-radius: 30%;
}


.skills {
    aspect-ration: 4/3;
    width: 20vmin;
}

.columns {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.column {
    width: 45%;
    padding: 10px;
}

.middle {
    width: 10%;
}

.subtitle {
    padding-top: 80px;
}

.about {
    font-size: 35px;
}
